/* styles.css */
body {
    background-color: grey
  }

  p {
    font-family: times;
    font-size: 15px;
    color: black;
  }
  
  div {
    background-color: grey;
    width: 600px;
    color: black;
  }
  .page-item{
    padding-left: 270px;
    justify-content: center;
  }
